*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
    /* Ruta de la imagen usando Django */
    background-image: url("/static/img/basket2.jpg");
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center; 
    background-attachment: fixed; 
    min-height: 100vh; 
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #051215;
}

